$assets_url: "../../../";
@import "../../components/config/inc/style.scss";
main {
    .main__albums {
        display: block;
        width: 100%;
        margin-top: $space75;
        .albums__list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: $space20;
            padding: 0 30px;
            list-style: none;
            li {
                display: inline-block;
                width: 250px;
                margin: 0 auto;
                .item__image {
                    display: block;
                    width: 100%;
                    height: 250px;
                    margin: 0;
                    margin-bottom: $space20;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .item__name {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: $space20;
                    span {
                        font-size: $paragraph;
                        text-align: center;
                    }
                }
                .item__buttons {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    width: 100%;
                    div {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 100px;
                        height: 45px;
                        margin: 0 auto;
                        a {
                            font-weight: normal;
                        }
                    }
                    .buttons__modify {
                        margin-bottom: $space10;
                        background-color: blue;
                    }
                    .buttons__delete {
                        background-color: red;
                    }
                }
            }
        }
        .albums__buttom {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: $space30;
            .button__add {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 45px;
                background-color: #fff;
                a {
                    color: #000;
                    font-weight: normal;
                }
            }
        }
    }
}