header {
  height: 120px;
  padding: 30px;
}
header .header__nav {
  display: block;
  width: 100%;
}
header .header__nav .nav__search {
  display: inline-block;
}
header .header__nav .nav__search .search__bar {
  display: block;
  width: 350px;
  height: 60px;
  padding: 20px;
  border-radius: 5px;
  background-color: wheat;
}
header .header__nav .nav__search .search__bar input {
  display: inline-block;
  width: 300px;
  height: 100%;
  float: left;
}
header .header__nav .nav__search .search__bar .bar__icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../../../../assets/icons/search/item.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}