$assets_url: "../../../";
@import "../../components/config/inc/style.scss";

main {
    .main__form {
        display: block;
        width: 100%;
        margin-top: $space75;
        form {
            display: block;
            width: 100%;
            label {
                display: block;
                width: 350px;
                margin: 0 auto;
                margin-bottom: $space30;
                span {
                    display: block;
                    margin-bottom: $space20;
                    font-size: $paragraph;
                    font-weight: bold;
                }
                input,
                select {
                    display: block;
                    width: 100%;
                    height: 40px;
                    padding: $space5;
                    outline: none;
                }
                input[type=file]{
                    display: none;
                }
                label {
                    display: block;
                    width: 250px;
                    height: 250px;
                    margin: 0 auto;
                    margin-bottom: $space20;
                    background-image: url("../../../assets/icons/upload/item.svg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                button {
                    display: block;
                    width: 100px;
                    height: 45px;
                    margin: 0 auto;
                    color: #000;
                    background-color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
}